.error-main {
  width: 100vw;
}

.error-main > .error-class {
  margin-top: 10vh;
  text-align: center;
  display: block;
}

.go-home-button {
  border-radius: 10px;
  height: 4em;
  width: 8em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 3em;
}

.go-home-button > span {
  margin: auto;
  font-size: 1.3em;
  font-weight: 500;
}

.error-main > .error-class > .error-404 {
  font-size: 7em;
  overflow: hidden;
  padding-top: 10px 0;
  margin: 10px 0;
}

.error-main > .error-class p {
  font-size: 1.4em;
  margin-top: 0;
}

@media screen and (min-width: 1364px) {
  .error-main > .error-class > .error-404 {
    height: 175px;
    padding-top: 60px;
  }
}
