.course-card {
  background-color: rgba(47, 195, 195, 0.673);
  padding: 2rem;
  border-radius: 25px;
  flex: 1 1 25%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
  line-height: 1.5;
}

.course-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
  line-height: 1;
}

.course-date {
  white-space: nowrap;
}